/*      ---------------------
        ROOT ELEMENTS / UNIVERSAL
        --------------------- */
:root {
    /* --main-color: #DDC2A1;
    --main-color-darker: #91795C;
    --main-color-lighter: #FFEBD4; // #A69498
    --secondary-color: #4D7B91;
    --secondary-color-lighter: #A2CADE;
    --text-color: #232b2b; */

    --main-color: #D9C2C8;
    --main-color-darker: #59353E;
    --main-color-darker-op: #59353EEB;
    --main-color-lighter: #d1d1d1;
    --secondary-color: #594F52;
    --secondary-color-lighter: #DF849C;
    --text-color: #060606;

    --logo-background: #fbfaf9;
    --logo-background-op: #fbfaf9b6;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    font-family: 'Poppins', sans-serif;
    background-color:var(--main-color);
    background-size: cover;
}

main {
    height: 100%;
}

.textColor-2 {
    color: var(--logo-background);
}

/*      ---------------------
        INDEX.HTML
        --------------------- */

/* ------ | NAVBAR */
.navbar {
    background-color: var(--logo-background);
    font-family: 'PT Serif', serif;
}

/* NAVBAR | ul */
.navbar-ul {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    padding-left: 1rem;
}

.navbar-right { 
    display: flex;
    padding: 1rem;
}

.navbar-left > *{
    padding-right: 1rem;
}

.navbar-link {
    padding: 1rem 1rem 1.1rem;
}

.navbar-link:hover, .navbar-linkActive {
    color: var(--logo-background);
    background-color: var(--main-color-darker);
}

#logo {
    width: 100px;
}

/* ------ | HERO */
.hero {
    width: 100%;
    height: 20rem;
    padding-top: 4rem;
    /* border: 1px red solid; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/notebook-planner.jpg");
    background-size: cover;
}

.hero-textBox {
    width: fit-content;
    margin: auto;
    padding: 1rem 2rem;
    border: 1px solid var(--logo-background);
    color: var(--logo-background);
}

/* HERO | header text */
.hero-header {
    width: fit-content;
    margin: auto;
    font-family: 'PT Serif', serif;
}

/* HERO | about link */
.hero-aboutLink {
    display: block;
    width: fit-content;
    margin: auto;
}

.hero-aboutLink:hover {
    color: var(--logo-background-op);
    text-decoration: underline;
}

/* ------ | PAGE CONTENT */
.pageText {
    padding-top: 1rem;
}
.index-pageText-video {
    display: inline-block;
    width: 30%;
}
.pageText-body {
    display: inline-block;
    width: 60%;
}

/* ------ | FOOTER */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-family: 'PT Serif', serif;
    font-size: .65rem;
    background-color: var(--main-color-darker);
}

/* FOOTER | ul */
.footer-ul {
    display: flex;
    padding: .75rem;
    justify-content: center;
}

.footer-ul > * {
    padding: .25rem;
}
.footer-copyright {
    color:var(--logo-background-op);
}

.footer-link {
    color:var(--logo-background-op);
}

.footer-link:hover {
    color:var(--logo-background);
}

/*      ---------------------
        ABOUT.HTML
        --------------------- */
.main-title {
    padding: 1rem;
    background-color: var(--main-color-darker);
}

.title-h1 {
    color: var(--logo-background);
}

/* ------ | PAGE CONTENT */
.about-videoFalling {
    display: inline-block;
    width: 34%;
    height: 30%;
}

.about-pageText-body {
    display: inline-block;
    vertical-align: top;
    width: 50%;
    padding: 1rem;
}

.about-pageText-title {
    margin-bottom: .5rem;
    color: var(--main-color-darker);
}

.about-pageText-blurb {
    margin-bottom: .3rem;
}

.about-pageText-itemContainer {
    display: inline-block;
    vertical-align: top;
    width: 15%;
    padding: 1rem;
}

/* ------ | SIDE BAR */
/* SIDE BAR | boxes */
.about-pageText-items {
    border: solid var(--main-color-darker) 2px;
    margin-bottom: .3rem;
    padding: .3rem;
    overflow: hidden;
}

/* SIDE BAR | titles */
.pTI-title {
    font-family: 'PT Serif', serif;
}

.pTI-input-email {
    width: 80%;
}

.pTI-button {
    vertical-align: middle;

}

/* SIDE BAR | text */

/* SIDE BAR | a tags */