/*      ---------------------
        ROOT ELEMENTS / UNIVERSAL
        --------------------- */
:root {
    /* --main-color: #DDC2A1;
    --main-color-darker: #91795C;
    --main-color-lighter: #FFEBD4;
    --secondary-color: #4D7B91;
    --secondary-color-lighter: #A2CADE;
    --text-color: #232b2b; */

    --main-color: #D9C2C8;
    --main-color-darker: #59353E;
    --main-color-darker-op: #59353EEB;
    --main-color-lighter: #A69498;
    --secondary-color: #594F52;
    --secondary-color-lighter: #DF849C;
    --text-color: #060606;

    --logo-background: #fbfaf9;
    --logo-background-op: #fbfaf9d9;
}

* {
    margin: 0;
    padding: 0;
    color: var(--text-color);
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    height: 100%;
    background-color: var(--main-color-lighter);
    background-size: cover;
}

main {
    height: 100%;
}

.textColor-2 {
    color: var(--logo-background);
}

/*      ---------------------
        INDEX.HTML
        --------------------- */

/* ------ | NAVBAR */
.navbar {
    background-color: var(--logo-background);
}

/* NAVBAR | ul */
.navbar-ul {
    display: flex;
    justify-content: space-between;
}

.navbar-left {
    padding-left: 1rem;
}

.navbar-right { 
    display: flex;
    padding: 1rem;
}

.navbar-left > *{
    padding-right: 1rem;
}

.navbar-link {
    padding: 1rem 1rem 1.3rem;
}

.navbar-link:hover, .navbar-linkActive {
    color: var(--logo-background);
    background-color: var(--main-color-darker);
}

#logo {
    width: 100px;
}

/* ------ | HERO */
.hero {
    width: 100%;
    height: 20rem;
    padding-top: 4rem;
    /* border: 1px red solid; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../img/notebook-planner.jpg");
    background-size: cover;
}

.hero-textBox {
    width: fit-content;
    margin: auto;
    padding: 1rem 2rem;
    border: 1px solid var(--logo-background);
    color: var(--logo-background);
}

/* HERO | header text */
.hero-header {
    width: fit-content;
    margin: auto;
}

/* HERO | about link */
.hero-aboutLink {
    display: block;
    width: fit-content;
    margin: auto;
}

.hero-aboutLink:hover {
    color: var(--logo-background-op);
    text-decoration: underline;
}

/* ------ | PAGE CONTENT */
.pageText {
    padding-top: 1rem;
    /* border: 1px solid green;; */
}
.pageText-img {
    display: inline-block;
    width: 30%;
}
.pageText-body {
    display: inline-block;
    width: 60%;
}

/* ------ | FOOTER */
.footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--main-color-darker);
}

/* FOOTER | ul */
.footer-ul {
    display: flex;
    padding: .75rem;
    justify-content: center;
}

.footer-ul > * {
    padding: .25rem;
}

/*      ---------------------
        ABOUT.HTML
        --------------------- */
.main-title {
    padding: 1rem;
    background-color: var(--secondary-color);
}

.title-h1 {
    color: var(--secondary-color-lighter);
}